* {
    box-sizing: border-box;
    }
    @media only screen and (max-width: 767px) {
      body {
        background-image: url(assets/home/background-home-mobile.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: Arial, 'Helvetica', sans-serif, Epilogue;
        }
    .page {
        width: 100%;
        height: 100%;
        color: rgb(181, 181, 176);
    }
    .top {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: 50%; 
        margin-top: 2%;  
        margin-bottom: 7%;
        padding: 5%;
        gap: 32%;
    }
    .logo {
        width: 35%;
        height: 35%;
    }
    .menu-icon {
        width: 32%;
        float: right;
        margin-top: 1.5%;
    }
    .navigations {
        display: none;
    }
    .bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5%;
        text-align: center;
    }
    .left-side {
        margin-top: auto;
    }
    .so {
        font-family: Barlow Condensed;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.7px;
        line-height: normal;
        color: #D0D6F9;
    }
    .space {
        font-family: 'Bellefair';
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: 100px;
        margin-bottom: 7%;
        margin-top: auto;  
        color:  #FFF;
    }
    .p1 {
        font-family: 'Barlow';
        font-style: normal;
        font-size: 17px;
        font-weight: 400;
        color: #D0D6F9;
        line-height: 25px;
    }
    .right-side {
        font-family: 'Bellefair';
        color: #0B0D17;
        font-size: 17px;
        font-weight: 400;
        font-style: normal;
        background-color: #FFF;
        line-height: normal;
        letter-spacing: 1.25px;
        height: 200px;
        width: 200px;
        border-radius: 100%;
        margin-top: 250px;
    }
    .explore {
        text-align: center;
        padding: 60px 10px;
    }
    .blur-side {
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.7px);
        position: fixed;
        top: 0px;
        left: 276px;
        height: 1098px;
        width: 400px;
    }
    .menu-icon-close {
        width: 35%;
        flex-shrink: 0;
        float: right;
        margin-top: 10%;
        padding: 4%;
    }
    .navigations {
        display: flex;
        flex-flow: column wrap;
        margin-top: 55%;
        padding: 0% 10%;
        color: #FFF;
        font-family: Barlow Condensed;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2.7px;
    }
    .home {
        margin-bottom: 20%;
    }
    .destination {
        margin-bottom: 20%;
    }
    .crew {
        margin-bottom: 20%;
    }
    }