* {
  box-sizing: border-box;
  }
  body {
    background-image: url(https://github.com/hamzeey/space/blob/main/src/Asssets/background-technology-mobile.jpg?raw=true);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #37394b;
    }
    .page {
        width: 100%;
        height: 200%;
        color: rgb(181, 181, 176);
    }
    a {
        text-decoration: none;
        color: rgb(181, 181, 176); 
        }
    a:link {
        text-decoration: none;
        color: rgb(181, 181, 176);
        }
    a:visited {
        text-decoration: none;
        color: rgb(181, 181, 176);
        }
    a:hover {
        text-decoration: none;
        color: rgb(181, 181, 176);
        }
    a:active {
        text-decoration: none;
        color: rgb(181, 181, 176);
        }
  @media only screen and (max-width: 767px) {
      .top {
          display: flex;
          flex-flow: row wrap;
          width: 100%;
          height: 50%; 
          margin-top: 2%;  
          margin-bottom: 7%;
          padding: 5%;
          gap: 32%;
      }
      .logo {
          width: 35%;
          height: 35%;
      }
      .menu-icon {
          width: 32%;
          float: right;
          margin-top: 1.5%;
      }
      .navigations {
          display: none;
      }
      .bottom {
          text-align: center;
      }
      .space-launch {
          display: flex;
          flex-flow: row wrap;
          gap: 2%;
          font-family: Barlow Condensed;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          align-items: center;
          justify-content: center;
          line-height: normal;
          letter-spacing: 1.7px;
          margin-bottom: 7%
      }
      .number {
          margin-right: 2%;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.7px;
          color: #363846;
      }
      .space {
          color: #eeeded;
      }
      .image {
          width: 100%;
          height: 100%;
      }
      .numbers {
          display: flex;
          flex-direction: row;
          gap: 3%;
          justify-content: center;
          align-items: center;
          margin-top: 7%;
          stroke-width: 1px;
          stroke: #FFF;
          font-family: 'Bellefair';
      }
      .one {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          border: 1px solid;
          padding: 10px 6px;
          text-align: center;
      }
      .two {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          border: 1px solid;
          padding: 10px 6px;
          text-align: center;
      }
      .three {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          border: 1px solid;
          padding: 10px 6px;
          text-align: center;
          color: #0B0D17;
          background-color: #FFF;
      }
      .terminology {
        text-transform: uppercase;
        color: #D0D6F9;
        font-family: Barlow Condensed;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.4px;
        margin-top: 5%;
        margin-bottom: 1%;
    }
    .spacecapsule {
        color: #eeeded;
        font-family: Bellefair;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: auto;
    }
    .p1 {
        padding: 0% 7%;
        color: #D0D6F9;
        font-family: Barlow;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        padding-bottom: 15%;
    }
}
@media only screen and (min-width: 768px) {
    body {
        background-image: url(https://github.com/Aspire30BG/space-tourism-website-main/blob/main/starter-code/assets/technology/background-technology-tablet.jpg?raw=true);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #37394b;
        }
    .top {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: 50%; 
        margin-top: 2%;  
        margin-bottom: 7%;
        padding-left: 5%;
        padding-top: 5%;
        gap: 9%;
    }
    .logo {
        width: 28%;
        height: 28%;
        margin-top: -4%;
    }
    .menu-icon {
        display: none;
    }
    .navigations {
        display: flex;
        flex-direction: row;
        width: 63%;
        height: 80px;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        float: right;
        margin-top: -8%;
        font-family: Barlow Condensed;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.774227142333984px);
    }
    .home {
        margin-right: 7%;
    }
    .destination {
        margin-right: 7%;
    }
    .crew {
        margin-right: 7%;
    }
    .technology {
        margin-right: 7%;
        border-bottom: 3px solid #FFF;
        padding: 25px 0px;
    }
    .zero-00 {
        display: none;
    }
    .one-01 {
        display: none;
    }
    .two-02 {
        display: none;
    }
    .three-03 {
        display: none;
    }
    .bottom {
        text-align: center;
    }
    .space-launch {
        display: flex;
        flex-flow: row wrap;
        gap: 2%;
        font-family: Barlow Condensed;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        align-items: flex-start;
        justify-content: flex-start;
        line-height: normal;
        letter-spacing: 1.7px;
        margin-bottom: 5%;
        margin-left: 7%; 
    }
    .number {
        margin-right: 2%;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.7px;
        color: #282b3a;
    }
    .space {
        color: #eeeded;
    }
    .image {
        width: 100%;
        height: 100%;
    }
    .numbers {
        display: flex;
        flex-direction: row;
        gap: 3%;
        justify-content: center;
        align-items: center;
        margin-top: 7%;
        stroke-width: 1px;
        stroke: #FFF;
        font-family: 'Bellefair';
    }
    .one {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 1px solid;
        padding: 10px 6px;
        text-align: center;
    }
    .two {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 1px solid;
        padding: 10px 6px;
        text-align: center;
    }
    .three {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 1px solid;
        padding: 10px 6px;
        text-align: center;
        color: #0B0D17;
        background-color: #FFF;
    }
    .terminology {
        text-transform: uppercase;
        color: #D0D6F9;
        font-family: Barlow Condensed;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.4px;
        margin-top: 5%;
        margin-bottom: 1%;
    }
    .spacecapsule {
        color: #eeeded;
        font-family: Bellefair;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: auto;
    }
    .p1 {
        padding: 0% 17%;
        color: #D0D6F9;
        font-family: Barlow;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        padding-bottom: 15%;
    }
    .image-2 {
        display: none;
    }
}
@media only screen and (min-width: 992px) {
    body {
        background-image: url(https://github.com/Aspire30BG/space-tourism-website-main/blob/main/starter-code/assets/technology/background-technology-desktop.jpg?raw=true);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: Arial, 'Helvetica', sans-serif, Epilogue;
        }
        .top {
            display: flex;
            flex-flow: row wrap;
            width: 100%;
            height: 50%; 
            margin-top: 2%;  
            margin-bottom: 7%;
            padding-left: 5%;
            padding-top: 5%;
            gap: 15%;
        }
        .logo {
            display: inline-flex;
            width: 24%;
            height: 24%;
            margin-top: -4%;
        }
        .line {
            display: flex;
            position: static;
            width: 150%;
            height: 2px;
            margin-left: 20%;
            margin-top: 6%;
            flex-shrink: 0;
            opacity: 0.7515;
            background: #3d404e;
        }
        .menu-icon {
            display: none;
        }
        .navigations {
            display: flex;
            flex-direction: row;
            width: 61%;
            height: 70px;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            float: right;
            margin-top: -5%;
            font-family: Barlow Condensed;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            background: rgba(255, 255, 255, 0.04);
            backdrop-filter: blur(40.774227142333984px);
        }
        .zero-00 {
            display: inline-flex;
            margin-right: 5px;
            padding-left: 25px;
        }
        .one-01 {
            display: inline-flex;
            margin-right: 5px;
        }
        .two-02 {
            display: inline-flex;
            margin-right: 5px;
        }
        .three-03 {
            display: inline-flex;
            margin-right: 5px;
        }
        .bottom {
            display: flex;
            flex-flow: row wrap;
            justify-content:flex-start;
            align-items: flex-start;
            width: 100%;
            padding: 5%;
            text-align: left;
            margin: auto;
            gap: 1%;
        }
        .space-launch {
            display: flex;
            flex-flow: row wrap;
            gap: 2%;
            font-family: Barlow Condensed;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            align-items: flex-start;
            justify-content: flex-start;
            line-height: normal;
            letter-spacing: 1.7px;
            margin-bottom: 5%;
            margin-left: 7%; 
        }
        .number {
            margin-right: 2%;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.7px;
            color: #282b3a;
        }
        .space {
            color: #eeeded;
        }
        .image {
            display: none;
        }
        .numbers {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 10%;
            margin-top: 2%;
            stroke-width: 1px;
            stroke: #FFF;
            font-family: 'Bellefair';
        }
        .one {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            border: 1px solid;
            padding: 20px 6px;
            text-align: center;
            margin-bottom: 25%;
        }
        .two {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            border: 1px solid;
            padding: 20px 6px;
            text-align: center;
            margin-bottom: 25%;
        }
        .three {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            border: 1px solid;
            padding: 20px 6px;
            text-align: center;
            color: #0B0D17;
            background-color: #FFF;
        }
        .space-capsule {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            text-align: left;
            width: 50%;
        }
        .terminology {
            text-transform: uppercase;
            color: #D0D6F9;
            font-family: Barlow Condensed;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.4px;
            margin-top: 5%;
            margin-bottom: 1%;
            margin-left: 10%;
        }
        .spacecapsule {
            color: #eeeded;
            font-family: Bellefair;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: auto;
            margin-left: 10%;
        }
        .p1 {
            padding: 0% 10%;
            color: #D0D6F9;
            font-family: Barlow;
            font-size: 16.5px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            padding-bottom: 15%;
            margin-top: -4%;
        }
        .image-2 {
            display: flex;
            flex-direction: row;
            width: 35%;
            margin-top: -8%;
        }
        .image2 {
            width: 125%;
            flex-shrink: 0;
        }
    }
